body{
  margin: 10px;
  background-color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;
}

h2{
  margin-block-start: 0.83em;
  margin-block-end: 0.0em;
}

a{
  color: lightskyblue;
}

img{
  width: 100%;
}

.current{
    color: green;
}

.container{
  margin: auto;
  width: 100%;
  max-width: 1012px;
}

.container p{
  margin-left: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: solid 2px grey;
  min-width: 1000px;
}

table th, table td{
  border: solid 1px grey;
  white-space: nowrap;
}
