<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>
    <a href="/">
      <div class="header">
        <img src="https://user-images.githubusercontent.com/34716040/78284392-4dbd9d00-755a-11ea-8eef-67b61965a934.png" alt="icon" />
      </div>
    </a>

    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
